name: publish module
on:
  push:
    branches: 
    - 'master'
    - '!ping_scan_docker'
    paths: 
    - 'ping_scan.psm1'
    - 'ping_scan.psd1'
    - '.github/workflows/**'
    - '!README.md'
    - '!LICENSE'
jobs:        
  publish:
    name: publish module
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - id : ps-publish
      uses: ertush/powershell-gallery-publish@v1.0.0
      with:
      - nugetapi-key: ${{ NUGET_API_KEY }}
      - payload-name: 'ping_scan'
      - payload-type: 'module'
      - repository: 'PSGallery'
      run: echo output ${{ steps.ps-publish.outputs.status }}
      shell: bash